h2 {
  text-decoration: overline brown;
}
/* h3 {
  background-color: skyblue;
  padding: 10px;
   text-decoration: overline; 
}
li {
  font-weight: bold;
}
#list {
  font-weight: normal;
}

h4 {
  text-decoration: underline green;
}

p {
   font-family: "Arial Narrow"; 
}

h5 {
  color: red;
} */
