#phar-h1 {
  text-decoration: overline brown;
}
#phar-h3 {
  text-decoration: underline green;
}

#pharcard-div {
  display: inline-block;
}
.pharcard-div1 {
  padding-right: 12%;
}
.pharcard-div2 {
  padding-right: 22%;
}
/* #dl-3 {
  padding-bottom: 30%;
} */
